<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <a href="<%= recipe_path(recipe) %>">
      <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title"><%= recipe.name %></h5>
          <p class="card-text"><%= recipe.description %></p>
          <a href="#" class="btn btn-danger">Remove</a>
        </div>
      </div>
    </a>
  <% end %>
</div>
